In [141]:

import itertools
import requests
import hashlib
import os
import re

# Day One
This should be pretty simple... for part 1 all you need to do is compare adjacent items up until the length of the list minus 1 (minus 1 because at the end, or second to last element, we compare to  i + 1).  Since I'm going for time, rather than spend the extra 30 seconds writing the code to handle when the index goes beyond the list, I just eyeballed it and saw the last element was the same as the first, and added it.

In [130]:
data = open('day1.txt').read().strip()

## part one

In [136]:
sum([int(x) for x,y in (zip(data, data[1:])) if x == y]) + 3 #cheated :)

1069

## part two

In [132]:
size = len(data) // 2

In [134]:
res = []
for i in range(len(data)):
    ix = min(i + size,i + size - len(data))
    if data[i] == data[ix]:
        res.append(int(data[i]))

In [135]:
sum(res)

1268

# Day Two
Our input for day two is a series of rows containing tab delimited numbers, meant to mimic a spreadsheet layout.  This is straight-forward to parse by simply splitting on newlines to get the rows, and then doing a regex on each row to get numbers out, rather than dealing with the tabs. Once this is done, you still have to convert each text input to an integer in order to perform the arithmetic.

In [218]:
data2 = open('aoc2.txt').read().strip()

In [219]:
rows = data2.split('\n')

## part one
Part one asks us to find the difference of the minimum and maximum of each row, and then sum all of those values to calculate the "checksum" which will be our answer.

In [220]:
numrows = [list(map(int,re.findall('\d+',row))) for row in rows]

In [221]:
sum(max(row) - min(row) for row in numrows)

37923

## part two
Part two requires us to find the only two evenly divisible items in each row, calculate the value of this division, and then sum the results.  Itertools to the rescue.... I'll just get all combinations of size 2 for each row and test divisibility

In [222]:
sum(max(x,y) / min(x,y) for row in numrows 
                        for x,y in itertools.combinations(row,2) 
                        if max(x,y) % min(x,y) == 0)

263.0

In [223]:
divis = []
for row in numrows:
    for x,y in itertools.combinations(row,2):
        smallest,largest  = min(x,y), max(x,y)
        if largest % smallest == 0:
            divis.append(largest / smallest)
sum(divis)

263.0

In [245]:
test = "abc"
res = set()
for i in range(len(test)):
    for j in range(i+1,len(test)):
        res.add((test[i],test[j]))
res

{('a', 'b'), ('a', 'c'), ('b', 'c')}

# Day 3 
The minute I read this puzzle I may have mumbled a few choice words to myself.  I've seen something similar before on project euler and punted on it, because I'm not particularly great at the more "mathy" or number theory-esque problem types.  But, since this is Advent of Code, and I'm fully committed to at least doing my very best to solve all 25 days, I'm gonna have to buckle down and try to figure it out.

## Part One
This is my WIP for part one, I havent even gotten to part two.  Day four has come and gone and was fortunately way easiser. I'm still mulling this over and trying to find a solution without looking at others because I feel I'm getting close since I've found the recurrence relation, I just need to figure out how to use that to calculate the distance to the target.

In [352]:
import math
target = 265149
grid_dims = [math.ceil(math.sqrt(start))] * 2
center = [grid_dims[0] // 2] * 2

In [353]:
rows, cols = grid_dims
grid = [[0 for c in range(cols)] for r in range(rows)]
grid[center[0]][center[1]] = 1

In [354]:
diags = [3,9,7,5]
lr =    [6,2,4,8]  

def gen_spiral(n,target = target):
    n = n
    d = n - 1
    steps = 1
    nums = [n]
    while n < target:
        d += 8
        n += d
        steps += 1
        nums.append(n)
    return nums
    
for d in diags:
    spirals = gen_spiral(d)
    if target in spirals:
        print(spirals.index(target) * 2)
        break
for x in lrud:
    spirals = gen_spiral(x)
    if target in spirals:
        print(spirals.index(target))
        break

In [351]:
gen_spiral(6)

[6,
 19,
 40,
 69,
 106,
 151,
 204,
 265,
 334,
 411,
 496,
 589,
 690,
 799,
 916,
 1041,
 1174,
 1315,
 1464,
 1621,
 1786,
 1959,
 2140,
 2329,
 2526,
 2731,
 2944,
 3165,
 3394,
 3631,
 3876,
 4129,
 4390,
 4659,
 4936,
 5221,
 5514,
 5815,
 6124,
 6441,
 6766,
 7099,
 7440,
 7789,
 8146,
 8511,
 8884,
 9265,
 9654,
 10051,
 10456,
 10869,
 11290,
 11719,
 12156,
 12601,
 13054,
 13515,
 13984,
 14461,
 14946,
 15439,
 15940,
 16449,
 16966,
 17491,
 18024,
 18565,
 19114,
 19671,
 20236,
 20809,
 21390,
 21979,
 22576,
 23181,
 23794,
 24415,
 25044,
 25681,
 26326,
 26979,
 27640,
 28309,
 28986,
 29671,
 30364,
 31065,
 31774,
 32491,
 33216,
 33949,
 34690,
 35439,
 36196,
 36961,
 37734,
 38515,
 39304,
 40101,
 40906,
 41719,
 42540,
 43369,
 44206,
 45051,
 45904,
 46765,
 47634,
 48511,
 49396,
 50289,
 51190,
 52099,
 53016,
 53941,
 54874,
 55815,
 56764,
 57721,
 58686,
 59659,
 60640,
 61629,
 62626,
 63631,
 64644,
 65665,
 66694,
 67731,
 68776,
 69829,
 70890,
 71959,
 73036,
 74121,
 75214,
 76315,
 77424,
 78541,
 79666,
 80799,
 81940,
 83089,
 84246,
 85411,
 86584,
 87765,
 88954,
 90151,
 91356,
 92569,
 93790,
 95019,
 96256,
 97501,
 98754,
 100015,
 101284,
 102561,
 103846,
 105139,
 106440,
 107749,
 109066,
 110391,
 111724,
 113065,
 114414,
 115771,
 117136,
 118509,
 119890,
 121279,
 122676,
 124081,
 125494,
 126915,
 128344,
 129781,
 131226,
 132679,
 134140,
 135609,
 137086,
 138571,
 140064,
 141565,
 143074,
 144591,
 146116,
 147649,
 149190,
 150739,
 152296,
 153861,
 155434,
 157015,
 158604,
 160201,
 161806,
 163419,
 165040,
 166669,
 168306,
 169951,
 171604,
 173265,
 174934,
 176611,
 178296,
 179989,
 181690,
 183399,
 185116,
 186841,
 188574,
 190315,
 192064,
 193821,
 195586,
 197359,
 199140,
 200929,
 202726,
 204531,
 206344,
 208165,
 209994,
 211831,
 213676,
 215529,
 217390,
 219259,
 221136,
 223021,
 224914,
 226815,
 228724,
 230641,
 232566,
 234499,
 236440,
 238389,
 240346,
 242311,
 244284,
 246265,
 248254,
 250251,
 252256,
 254269,
 256290,
 258319,
 260356,
 262401,
 264454,
 266515]

In [509]:
def gen_spiral(n,prevn):
    yield n
    d = n - prevn + 8
    n += d
    if n < target: yield from gen_spiral(n,n-d)

from itertools import islice

list(gen_spiral(24,9))

[24,
 47,
 78,
 117,
 164,
 219,
 282,
 353,
 432,
 519,
 614,
 717,
 828,
 947,
 1074,
 1209,
 1352,
 1503,
 1662,
 1829,
 2004,
 2187,
 2378,
 2577,
 2784,
 2999,
 3222,
 3453,
 3692,
 3939,
 4194,
 4457,
 4728,
 5007,
 5294,
 5589,
 5892,
 6203,
 6522,
 6849,
 7184,
 7527,
 7878,
 8237,
 8604,
 8979,
 9362,
 9753,
 10152,
 10559,
 10974,
 11397,
 11828,
 12267,
 12714,
 13169,
 13632,
 14103,
 14582,
 15069,
 15564,
 16067,
 16578,
 17097,
 17624,
 18159,
 18702,
 19253,
 19812,
 20379,
 20954,
 21537,
 22128,
 22727,
 23334,
 23949,
 24572,
 25203,
 25842,
 26489,
 27144,
 27807,
 28478,
 29157,
 29844,
 30539,
 31242,
 31953,
 32672,
 33399,
 34134,
 34877,
 35628,
 36387,
 37154,
 37929,
 38712,
 39503,
 40302,
 41109,
 41924,
 42747,
 43578,
 44417,
 45264,
 46119,
 46982,
 47853,
 48732,
 49619,
 50514,
 51417,
 52328,
 53247,
 54174,
 55109,
 56052,
 57003,
 57962,
 58929,
 59904,
 60887,
 61878,
 62877,
 63884,
 64899,
 65922,
 66953,
 67992,
 69039,
 70094,
 71157,
 72228,
 73307,
 74394,
 75489,
 76592,
 77703,
 78822,
 79949,
 81084,
 82227,
 83378,
 84537,
 85704,
 86879,
 88062,
 89253,
 90452,
 91659,
 92874,
 94097,
 95328,
 96567,
 97814,
 99069,
 100332,
 101603,
 102882,
 104169,
 105464,
 106767,
 108078,
 109397,
 110724,
 112059,
 113402,
 114753,
 116112,
 117479,
 118854,
 120237,
 121628,
 123027,
 124434,
 125849,
 127272,
 128703,
 130142,
 131589,
 133044,
 134507,
 135978,
 137457,
 138944,
 140439,
 141942,
 143453,
 144972,
 146499,
 148034,
 149577,
 151128,
 152687,
 154254,
 155829,
 157412,
 159003,
 160602,
 162209,
 163824,
 165447,
 167078,
 168717,
 170364,
 172019,
 173682,
 175353,
 177032,
 178719,
 180414,
 182117,
 183828,
 185547,
 187274,
 189009,
 190752,
 192503,
 194262,
 196029,
 197804,
 199587,
 201378,
 203177,
 204984,
 206799,
 208622,
 210453,
 212292,
 214139,
 215994,
 217857,
 219728,
 221607,
 223494,
 225389,
 227292,
 229203,
 231122,
 233049,
 234984,
 236927,
 238878,
 240837,
 242804,
 244779,
 246762,
 248753,
 250752,
 252759,
 254774,
 256797,
 258828,
 260867,
 262914,
 264969]

In [500]:
def spiral(n):
    return 1 if n <= 0 else 2 * spiral(n-1) - spiral(n-2) + 8

In [507]:
list(map(spiral,range(0,10)))

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

# Day 4
Here the input is a colleciton of strings delimited by newlines.  Within each string, or "phrase", we need to see if there are any duplicates and filter those out, and then count the remaining "phrases".

## Part One

In [491]:
data = open('day4.txt').read().strip()
words = data.split('\n')

In [492]:
valid = [phrase for phrase in words if len(set(phrase.split())) == len(phrase.split())]
print(len(valid))

325

## Part Two

In [493]:
def anagrams(word):
    return {''.join(a) for a in (itertools.permutations(word))}

In [494]:
def anagram_found(text):
    words = text.split()
    for i in range(len(words) - 1):
        for a in anagrams(words[i]):
            if a in words[i+1:]:
                return True
    return False

In [495]:
assert(not(anagram_found('abcde fghij')))
assert(anagram_found('abcde xyz ecdab'))
assert(not(anagram_found('a ab abc abd abf abj')))
assert(not(anagram_found('iiii oiii ooii oooi oooo')))
assert(anagram_found('oiii ioii iioi iiio'))

In [497]:
phrases = [phrase for phrase in words if not(anagram_found(phrase))]
len(phrases)

119

In [498]:
phrases[0:5]

['ojufqke gpd olzirc jfao cjfh rcivvw pqqpudp',
 'wchrl pzibt nvcae wceb',
 'rdwytj kxuyet bqnzlv nyntjan dyrpsn zhi kbxlj ivo',
 'qwx ubca dxudny oxagv wqrv lhzsl qmsgv dxs awbquc akelgma',
 'rrdlfpk ohoszz qiznasf awchv qnvse']